.populary__titles {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.populary__title {
    font-size: var(--font-size-l);
    font-family: var(--font-accent);
    font-weight: var(--font-weight-l);
}

.populary__subtitle {
    font-size: var(--font-size-s);
    font-family: var(--font-main);
    font-weight: var(--font-weight-m);
    margin-bottom: 20px;
}

.populary__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
}